---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

<table>
  <tr>
    <td>
      Online News Portal<br />
      Next JS website in which users can see and share news and also comment on
      the news.
    </td>
    <td><a href="https://github.com/nafisa11bd/NewsSite-Portal">Link</a></td>
  </tr>
  <tr>
    <td>
      CNN-LSTM Based Weather Foorecasting <br />
      A deep learning project to predict future weather from observed data and
      it’s faster than the traditional method.
    </td>
    <td>
      <a href="https://github.com/nafisa11bd/CNN-LSTM-based-Weather-Forecasting"
        >Link</a
      >
    </td>
  </tr>
  <tr>
    <td>
      Online Donation System <br />
      Web based android app in which firebase server is used in which
      fundraisers post about funds and donors can donate through this app.
    </td>
    <td>
      <a href="https://github.com/nafisa11bd/Online-donation-system">Link</a>
    </td>
  </tr>
  <tr>
    <td>
      Bachelor Student Management System <br />
      A Django website in which students can manage academic side such as-
      getting exam results, registering courses and get their attendance.
    </td>
    <td>
      <a href="https://github.com/nafisa11bd/bachelorstudentmanagementsystem"
        >Link</a
      >
    </td>
  </tr>
</table>
<!--
{% include base_path %}
 {% for post in site.portfolio %}
  {% endfor %}
-->
