---
layout: archive
title: "Relevant Coursework"
permalink: /relevantcoursework/
author_profile: true
---

<table>
  <tr>
    <td><b>Undergraduate</b></td>
    <td>
      Artifical Intelligence, Compiler
      Design, Digital Signal Processing, Digital Image Processing, Information
      System Analysis & Design,Computer Graphics & Animation, Neural Networks &
      Fuzzy Systems, Applied Statistics & Queuing Theory,</br>
      Analytical Programming, Data Structure, Object Oriented Programming,
      Discrete Mathematics, Numerical Methods, Computer Algorithms, Finite
      Automata Theory, Database Systems, Data Communication,  Software Engineering, Microprocessors & Assembly
      Language, Operating Systems, Computer Architecture & Design, Computer
      Networks, Peripherals & Interfacings, VLSI Design, Network Security, Data Mining, Digital Image
      Processing
    </td>
  </tr>
</table>

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
